{% extends "base.html" %}




{% block head_title %}
GFB
{% endblock %}


{% block content %}
    <h1>Hello {{user.first_name | capitalize }}</h1>
    <span class="my-5"></span>

    {% if ps %}
        <p>
            Choose a presentation:
        </p>

        <ol>
        {% for p in ps %}
            <li>
              <a href="{% url 'feedbacks:presentation' %}?presentation={{p.id}}">{{p.title}}</a>
            </li>
            <hr>
        {% endfor %}
        </ol>
    {% else %}
        <h5 class="my-3">Waiting...</h5>
    {% endif %}

    
{% endblock %}